<h1>New Appointment</h1>

<%= render 'form', appointment: @appointment,
                   coach: @coach,
                   availability_block: @availability_block,
                   date: @date %>

<%= link_to 'Back to Coach', coach_path(@coach) %>
